body {
  background: black;
  min-width: 320px;
  min-height: 100vh;
  width: 764px;
  margin: auto;
  margin-top: 32px;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

